/*body*/
body
{
    background: #e5efff!important;
    position: relative!important;
}

/*background image landing page*/
div#landing-page {
            background: url("../img-assets/landing-page.jpeg")no-repeat center center;
            opacity: 0.75;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100%;
            background-position: center;
        }
div.black-text{
    color: #333b49;
}

div#residential-page{
    background: url("../img-assets/components_detailed.jpg")no-repeat center center;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

/*Reroofing page css*/
div#re-roofing-top-one{
    background: url("../img-assets/refoofing_one.jpg")no-repeat center center;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

div#re-roofing-top-two{
    background: url("../img-assets/re-roofing_two.jpg")no-repeat center center;
    opacity: 0.85;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

hr#re-roofing-hr{
    background-color: #dc3545;
    color: #dc3545;
    height: 1px;
}

/*End reroofing page css */

/*Repair and maintenance page css*/
div#repairs-maintenance-top-one{
    background: url("../img-assets/repair-maintenance-top-re.jpg")no-repeat center center;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

div#repairs-maintenance-top-two{
    background: url("../img-assets/repair-maintenance-top-two-re.jpg")no-repeat center center;
    opacity: 0.85;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

hr#repairs-maintenance-hr{
    background-color: #dc3545;
    color: #dc3545;
    height: 1px;
}

a#read-more-btn{
    opacity: 0.85;
}

a#btn-more-info{
    opacity: 0.1;
}

div.right-hand-line{
    border-right: 2px;
    color: #fff;
}

div.info-bg{
    opacity: 0.8;
}

/*carousel on project page*/

div#residential-roofing-specialist {
            background: url("../img-assets/residential_roofing_background.jpg")no-repeat center center;
            opacity: 1;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            word-wrap: break-word;
        }
div#asphalt-shingles{
    background: url("../img-assets/ashphalt_gallery.jpg")no-repeat center center;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    word-wrap: break-word;
}

div#cedar-shingles{
    background: url("../img-assets/cedar_strip.jpg")no-repeat center center;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    word-wrap: break-word;
}

div#projects-page {
                    background: url("../img-assets/syn_back.jpg")no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    word-wrap: break-word;
                }

div#contact-page {
                    background: url("../img-assets/Contact_page_background.jpg")no-repeat center center;
                    opacity: 0.75;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }

div#about-page {
                    background: url("../img-assets/about-page.jpg")no-repeat center center;
                    opacity: 0.75;
                    background-color: red;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
div.bg-slight-dark{
    background-color: #3b3d3f;
}

p.review-text{
    font-size: 0.75rem!important;
}

div#footer-page {
                    background: url("../img-assets/footer_contact_page.jpg")no-repeat center center;
                    opacity: 0.75;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    max-height: 100vh;
                }

hr#short-hr{
    background-color: #eee;
    color: #fff;
    height: 3px;
}
hr#residential-hr{
    background-color: #dc3545;
    color: #dc3545;
    height: 1px;
}

hr.others{
    background-color: #000;
    color: #000;
    height: 3px;
}

/*Navigation Menu hover animations*/

   .links {
     transition: 0.3s ease;
     font-weight: bold;

     text-decoration: none;
   }
   .links:hover {
     color: #fff!important;
     border-top: 1px solid #af0011;
     border-bottom: 1px solid #af0011;
     padding-left: 0.25rem!important;
     padding-right: 0.25rem!important;
     margin-left: 3px;
     margin-right: 3px;
     background-color: #1c2331!important;

   }
/* section.overf
{
    overflow: auto;
} */

.transparent {
    background:rgba(128,128,128,0.5)no-repeat center center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;

}



nav a.router-link-exact-active {
    font-weight: 600;
    color: #fff!important;
    border-top: 2px solid #ffffff;
    padding-left: 0rem!important;
    padding-right: 0rem!important;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px solid #ffffff;
    background-color: #1c2331!important;
}


/*Taylor Services After Landing page*/
section.bg-primary
{
    background:#0e1623!important;
}


/*carousel*/
#myCarousel
{
    background-color: #00235b!important;
}

#carouselFooter
{
    background-color: #00235b!important;
}


i.fa
{
    color: #000;
}

i.fa-map-marker, i.fa-phone, i.fa-envelope
{
    color: #5a5a5a;
}

section.fadeIn-Services{
    opacity: 0;
}


/*Projects*/
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

/*About CSS*/
section#about
{
    background: url("../img-assets/rooing-Inspection-min.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
}

section#contact
{
    background: url("../img-assets/building-envelop-John-Taylor.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(36,56,89,0.8);
    min-height: 100vh;
}

  h2.text-dark
  {
      color: #fff!important;
      opacity: 1;
  }

  div.contact
  {
      background: #4b4c4c;
      opacity: 0.7
  }


/*Footer background*/
footer
{
    width: 100%;
    background-color: #00235b!important;
}

/*responsive typography*/
